@charset "UTF-8";


/*-----全体のスタイル-----*/


.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

html{
  background-image: url("../img/bg.png");
  color: #333;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

a > img:hover{
  opacity: .7;
}

.container{
  margin: 50px auto;
  width: 998px;
  padding:50px 30px 70px;
  background-color: #fff;
  border: solid 10px #9DB438;
}


/*-----トップタイトルのスタイル-----*/


.header{
  text-align: center;
}

.header h1{
  font-size: 50px;
  margin-bottom: 40px;
  font-family: 'Anton', sans-serif;
}

.header span{
  color: #9DB438;
}


/*-----フォームのスタイル-----*/


#contact-form{
	width: 100%;
	border-collapse: collapse;
}

#contact-form th,
#contact-form td{
	padding: 5px;
  border: solid 1px;
}

#contact-form th{
	text-align: left;

}

.btn-submit{
  font-size: 20px;
  border: none;
  background-color: #9DB438;
  display: block;
  margin: 20px auto 0;
  padding: 10px 30px;
}

.btn-submit:hover{
  opacity: .7;
}
